<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Strategy viewer</title>
</head>

<body style="margin: 0px; padding: 0px;">
    <div id="stage-parent" style="width:100%; height:100vh; margin: 0px; padding: 0px; overflow: hidden;">
        <div id="container"></div>
    </div>
    <script src="./third_parties/konva.min.js" crossorigin></script>
    <script src="./src/path.js" crossorigin></script>
    <script src="./src/screen.js" crossorigin></script>
    <script>
    const load_json = function() {
        let url = "/artifacts/strategy_results.json";
        return fetch(url, {
            method: "GET",
            headers: {}
        }).then(function(r) {
            return r.json();
        });
    }

    window.onload = function() {
        load_json()
            .then(screen.on_load)
            .catch(function(error) {
                console.log(error);
            });
    };
    </script>
</body>

</html>